* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Tektur", cursive;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 0.5fr 4fr 4fr 4fr;
  grid-template-areas:
    "header"
    "main"
    "footer"
    "projects"
    "experience"
    "contact";
}

header {
  grid-area: header;
  border-bottom: 3px solid #61dbfb;
  background-color: #111;
}

main {
  grid-area: main;
  display: flex;
  background-color: #111;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

footer {
  grid-area: footer;
  display: flex;
  background-color: #111;
  border-top: 3px solid #61dbfb;
}

.sidebar {
  display: flex;
  align-self: start;
  justify-content: start;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 3.75em;
  transition: 0.5s;
}

.links {
  display: flex;
  flex-direction: column;

  position: fixed;
}

.sidebar-mobile {
  display: none;
}

.links-mobile {
  display: none;
}

main img {
  height: 9.375em;
  width: 9.375em;
  margin-left: 4em;
  border-radius: 50%;
}

.sidebar a {
  padding: 4em 0.5em 0.5em 2em;
  text-decoration: none;
  font-size: 2.5rem;
  color: #61dbfb;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

#typing-text {
  color: white;
  font-size: 1.9rem;
  white-space: pre-wrap;
}

#fixed-text {
  color: #61dbfb;
  font-size: 15rem;
}

.texts {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 20%;
  height: 40%;
}

#projects {
  min-height: 100vh;
  grid-area: projects;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
  color: white;
}

#projects h1 {
  color: #61dbfb;
  font-size: 6rem;
}

#h1-typing-text {
  display: flex;
}

#projects li {
  margin-bottom: 10%;
  margin-top: 10%;
}

#projects ul {
  font-size: 3rem;
  list-style: none;
}

#experience {
  min-height: 100vh;
  color: white;
  grid-area: experience;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

#experience li {
  font-size: 3rem;
  list-style: none;
}

#contact {
  min-height: 100vh;
  grid-area: contact;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #111;
  color: white;
}

.link-wrapper {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa-brands:hover {
  transform: scale(1.5);
}

.fa-brands p {
  font-size: 1rem;
}

.fa-regular p {
  font-size: 1rem;
}

.fa-regular:hover {
  transform: scale(1.5);
}

#contact a {
  margin-right: 10%;
  margin-left: 10%;
}

.arrow {
  height: 3.125em;
  width: 3.125em;
  border-style: solid;
  border-color: #61dbfb;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrow:hover {
  border-color: white;
}

.active {
  color: white;
  font-weight: 600;
}

.li-container {
  display: flex;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr 4fr 4fr 4fr;
    grid-template-areas:
      "header"
      "main"
      "footer"
      "projects"
      "experience"
      "contact";
  }

  #typing-text {
    display: none;
  }

  #fixed-text {
    display: none;
  }

  .arrow {
    display: none;
  }

  .link-wrapper {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .li-container {
    display: flex;
    width: 100%;
  }

  .links {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .sidebar-mobile {
    display: flex;
    background-color: #111;
    padding-top: 60px;
    transition: 0.5s;
  }

  .links-mobile {
    display: flex;
    flex-direction: column;
  }

  .sidebar img {
    margin-left: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .sidebar-mobile a {
    margin-left: 40px;
    padding: 64px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #61dbfb;
    display: block;
    transition: 0.3s;
  }

  #projects h1 {
    color: #61dbfb;
    font-size: 4rem;
  }
}
